.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.headquarter > ul {
  grid-template-columns: repeat(5, 1fr);

  li {
    border: none;
    background-color: black;
    padding: 8px;
    text-align: center;

    img {
      height: 147px;
    }

    .cards-card-body {
      margin: 0;

      h4 {
        font-family: "Figtree", sans-serif;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #ffff00;
        text-transform: uppercase;
      }
      p {
        font-family: "Figtree", sans-serif;
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0px;
        color: #ffffff;
        padding-bottom: 5px;
      }
    }
  }
}
